form {
  margin-top: 2em;
}

input {
  font-size: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.image {
  margin-top: 2em;
  text-align: center;
}

.image-src {
  height: 300px;
  width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
